<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <h1>Centro Elite</h1>
      <small class="d-block mb-3 text-muted">&copy; 2024</small>
    </div>
    <div class="col-6 col-md">
      <h5>Caracteristicas</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Caracteristica</a></li>
        <li><a class="text-muted" href="#">Caracteristica aleatoria</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Recurso</a></li>
        <li><a class="text-muted" href="#">Nombre del recurso</a></li>
        <li><a class="text-muted" href="#">Otro recurso</a></li>
        <li><a class="text-muted" href="#">Recurso final</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Equipo</a></li>
        <li><a class="text-muted" href="#">Ubicacion</a></li>
        <li><a class="text-muted" href="#">Privacidad</a></li>
        <li><a class="text-muted" href="#">Equipo</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>