<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    User Panel
                </div>
                <div class="card-body">
                    <!-- Add your user panel content here -->
                    <div class="col">
                        <button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/createlogin">Crear usuario</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/createservice">Crear servicio</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>